body {
    background-color: #aaaaff;
    color: #000000;
}

.navbar {
    background-color: #9999dd;
    color: #000000;
}

.input input {
    background-color: #ddddff;
    color: #000000;
}

.input button {
    background-color: #ccccff;
    color: #000000;
    
    border: none;

    cursor: pointer;
}

.input button:hover {
    opacity: 50%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000033;
        color: #ffffff;
    }

    .navbar {
        background-color: #000022;
        color: #ffffff;
    }

    .input input {
        background-color: #000088;
        color: #ffffff;
    }
    
    .input button {
        background-color: #000077;
        color: #ffffff;
    }
}