body {
    width: 100%;
    margin: 0;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.navbar {
    width: 75px;
    height: 100%;
}

.navitem {
    width: 100%;
    aspect-ratio: 1 / 1;

    padding: 10px;
}

.navitem * {
    width: 100%;
    height: 100%;
}

.chat {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
}

.input input {
    outline: none;
    border: none;
    width: 100%;
}

.input {
    display: flex;
    width: 100%;
}

.input * {
    padding: 10px;
}