.centre-panel {
    display: flex;
    flex-direction: column;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    min-width: 300px;

    padding: 50px;

    align-items: center;
}

.centre-panel * {
    margin: 10px;
}